{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
        {% if this.title %}
        <div class="row">
            <h1 class="text-center">{{ this.title }}</h1>
        </div>
        {% endif %}
        {% for item in this.body.blocks %}
            {% if item._flowblock == 'location' %}
                {# Display talks before location #}
                {% if site.query('/talks').count() %}
                <div class="row">
                    <h1 class="page-header">Talks</h1>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Talk</th>
                                <th>Speaker</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for talk in site.query('/talks')|sort(attribute='start_at') %}
                            <tr>
                                <td>{{ talk.start_at }}</td>
                                <td><a href="{{ talk|url }}">{{ talk.title }}</a></td>
                                {% set author = site.query('/speakers').filter(F._id == talk.author).first() %}
                                <td>{% if author %}<a href="{{ author|url }}">{{ author.name }}</a>{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            {% endif %}
            {{ item }}
        {% endfor %}

        {% if site.query('/sponsors').count() %}
        <div class="row">
            <h1 class="page-header">Sponsors</h1>
        </div>
        <div class="row">
            <div class="media">
            {% for sponsor in site.query('/sponsors')|sort(attribute='name') %}
                <div class="media-left">
                    {% set image = sponsor.attachments.images.get(sponsor.photo) %}
                    {% if image %}
                    <img src="{{ image.thumbnail(64)|url }}" />
                    {% endif %}
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="{{ sponsor.url }}">{{ sponsor.name }}</a></h4>
                    {{ sponsor.description }}
                </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
{% endblock %}
