{% extends "layout.html" %}

{% block title %}Talks{% endblock %}

{% block body %}
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Talk</th>
                    <th>Speaker</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
                {% for child in this.children %}
                <tr>
                    {% set author = site.query('/speakers').filter(F._id == child.author).first() %}
                    <td><a href="{{child|url}}">{{ child.title }}</a></td>
                    <td>{{ author.name }}</td>
                    <td>{{ child.start_at }}</td>
                    <td>{{ child.stop_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <ul class="list-unstyled">
        </ul>
    </div>
{% endblock %}
